
.custom-pagination .page-item .page-link {
    border: none;
    color: blue;
    font-weight: 500;
    border-radius: 10px;
    margin: 0 4px;
    background-color: transparent;
    transition: all 0.2s ease;
}

.custom-pagination .page-item .page-link:hover {
    background-color: rgba(0, 0, 255, 0.1);
}

.custom-pagination .page-item.active .page-link {
    background-color: blue;
    color: white;
    border-radius: 8px;
    font-weight: 600;
}

.custom-pagination .page-item.disabled .page-link {
    color: #ccc;
    cursor: not-allowed;
    background-color: transparent;
}